
mixin head(data)
  head
    title Title
    meta(charset='utf-8')
    meta(name="description", content="Description")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="stylesheet", type="text/css" href="./css/libs.css?v=1.0")
    link(rel="stylesheet", type="text/css" href="./vendor/fontawesome-pro/css/all.min.css")
    link(rel="stylesheet", type="text/css" href="./css/app.css?v=1.0")

mixin script
  script(src="./js/libs.js?v=1.0")
  script(src="./js/app.js?v=1.0")
